* {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Jost', sans-serif;
  }
  
  body {
    margin: 0;
    background-image: linear-gradient(rgb(148, 212, 202), rgb(107, 170, 199));
  }
  
  header {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    border-radius: 10px;
    padding: 4rem;
    background-image: url("img/key-in-hand-unlocking-door.jpg");
    background-position: center;
    color: rgb(10, 10, 10);
    text-align: center;
    width: 90%;
    max-width: 100rem;
    display: table;
  }

  header h1{
    font-size: 60px;
  }
  
  #navigation {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    width: 90%;
    max-width: 100rem;
    display: table;
  }
  
  #events {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 90%;
    max-width: 40rem;
  } */
  
  #events h2 {
    font-size: 2rem;
    border-bottom: 4px solid #ccc;
    color: #abebce;
    margin: 0 0 1rem 0;
  } */
  
   #events p {
    font-size: 1.25rem;
    font-weight: bold;
    border: 1px solid #abebce;
    background-color: #abebce;
    color: white;
    padding: 0.5rem;
    border-radius: 25px;
  }
  
  #events input {
    font: inherit;
    border: 1px solid #ccc;
  }
  
  #events input:focus {
    outline: none;
    border-color: #1b995e;
    background-color: #d7fdeb;
  }
  
  #events button {
    font: inherit;
    cursor: pointer;
    border: 1px solid #83ee63;
    background-color: #83ee63;
    color: white;
    padding: 0.05rem 1rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    margin: 0 1rem;
  }
  
  #events button:hover,
  #events button:active {
    background-color: #83ee63;
    border-color: #83ee63;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
  }
  

  #navigation h2 {
    font-size: 2rem;
    border-bottom: 4px solid #ccc;
    color: #abebce;
    margin: 0 0 1rem 0;
  }
  
   #navigation p {
    font-size: 1.25rem;
    font-weight: bold;
    border: 1px solid #abebce;
    background-color: #abebce;
    color: white;
    padding: 0.5rem;
    border-radius: 25px;
  } */
  
  #navigation input {
    font: inherit;
    border: 1px solid #ccc;
  }
  
  #navigation input:focus {
    outline: none;
    border-color: #abebce;
    background-color: #d7fdeb;
  }
  
  #navigation button {
    font-size: 1.25rem;
    font-weight: bold;
    border: 1px solid #abebce;
    background-color: #90c0ee;
    color: black;
    padding: 0.5rem;
    border-radius: 25px;
    margin: 10px;
  }
  
  #navigation button:hover,
  #navigation button:active {
    background-color: #83ee63;
    border-color: #83ee63;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
  }

  #emergency{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 1rem auto;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    width: 60%;
    max-width: 40rem;
    display: table;
    background-color: #abebce;
  }

  
  
  form{
    margin-left: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    width: 60%;
    max-width: 40rem;
    display: table;
    background-color: #abebce;
  }

  #messageBox{
    
    height: 100px;
    width: 200px;
    
  }